@page "/"

<PageTitle>Renaissance</PageTitle>

<!-- cover -->
<section class="p-0">
    <div class="swiper-container "
         data-top-top="transform: translateY(0px);" 
         data-top-bottom="transform: translateY(250px);">
        <div class="swiper-wrapper">
            <div class="swiper-slide vh-100">
                <div class="image image-overlay" style="background-image:url(images/fitness-1.jpg)"></div>
                <div class="caption">
                    <div class="container">
                        <div class="row justify-content-between vh-100">
                            <div class="col-md-8 align-self-center" data-swiper-parallax-y="-250%">
                                <h1 class="display-2 font-weight-bold text-uppercase">Good start of your weekend</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide vh-100">
                <div class="image image-overlay" style="background-image:url(images/fitness-2.jpg)"></div>
                <div class="caption">
                    <div class="container">
                        <div class="row vh-100">
                            <div class="col-lg-6 align-self-center" data-swiper-parallax-y="-250%">
                                <h1 class="display-3"><b>Awesome</b> solutions for your business.</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col text-center">
                            <div class="mouse"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-pagination swiper-pagination-vertical"></div>
    </div>
</section>
<!-- / cover -->
